<html>
<head>
    <title>GitHub: jack-burke-uk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./HomePage/Content/site.css" />
    <script src="./HomePage/Scripts/vue.min.js"></script>
    <script src="./HomePage/Scripts/Components/project-window.js"></script>
</head>
<body>
    <header class="common-background">
        <div class="header-content">
            <h1>Jack Burke</h1>
            <span>Web Developer</span>
        </div>
    </header>
    <main id="app">
        <div class="loading-container" v-if="isLoading">
            <div class="loading-spinner"></div>
            <p>Loading Projects...</p>
        </div>
        <div v-cloak v-else>
            <h2>Projects</h2>
            <div class="projects">
                <div class="project-window-container" v-for="project in projects">
                    <project-window class="common-background" :project="project" @projectselected="handleProjectClicked"></project-window>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="./HomePage/Scripts/index.js"></script>
</body>
</html>